* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.wrapper {
  display: flex;
  justify-content: center;
  background-color: black;
  width: 100%;
  height: 100%;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 50%;
  height: 100%;
  transition: width 0.5s ease-in-out;
}

.image_left {
  background-image: url("JW_nebula.jpeg");
}
.image_right {
  background-image: url("milky_way.jpeg");
}

.image_left:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.image_right:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 70px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  font-size: 1.5em;
}
button:hover {
  background-color: white;
  color: black;
}
